@import "fonts"
@import "libs"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*::-ms-input-placeholder
  color: #666
  opacity: 1

//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//  color: #666
//
//body input:required:valid,
//body textarea:required:valid
//  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  opacity: 1

  &.isHome
    .site-header
      min-height: 700px
      height: 100vh
      background-color: $dark
      color: #fff

      .top-line
        padding-top: 40px
        position: absolute
        width: 100%
        z-index: 1

.h1, .h2, .h3, .h4, .h5, .h6
  line-height: 1.4
  text-transform: uppercase

.logo
  img
    width: 125px
    height: auto
    margin-left: 45px

.phone
  position: absolute
  right: 85px
  top: 44px
  font-family: firasans, sans-serif
  font-size: 22px
  white-space: nowrap

  .fa
    color: #555
    font-size: 22px
    padding-right: 3px

section, header
  position: relative
  background-size: cover
  background-position: center

section
  background-color: #fff

  &.inverse
    color: #fff
    background-color: $dark
    &.s-call
      background-color: #ffffff
  .h2
    font-size: 30px
    color: $accent
    font-weight: 800
    span
      color: #fff

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

::selection
  background-color: $accent
  color: #fff

.button
  display: inline-block
  border: none
  color: #fff
  text-decoration: none
  background-color: $accent
  padding: 15px 45px
  font-size: 13px
  text-transform: uppercase
  font-weight: 600
  letter-spacing: 3px
  border-radius: 2px
  text-align: center
  position: relative
  outline: none
  transition: background-color .1s ease

  &::after
    transition: background-color .2s ease
    position: absolute
    content: ''
    height: 4px
    bottom: 0
    width: 100%
    background-color: darken($accent, 50%)
    opacity: .18
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    left: 0

  &:focus, &:hover
    text-decoration: none
    color: #fff

  &:hover
    background-color: lighten($accent, 5%)

    &::after
      opacity: .22

  &:active
    background-color: darken($accent, 5%)

    &::after
      opacity: .32

  &.button-white
    background-color: white
    color: #444

    &::after
      background-color: rgba(#000, .6)

    &:hover
      &::after
        background-color: rgba(#000, .2)

    &:active
      &::after
        background-color: rgba(#000, .4)



.hamburger
  position: absolute
  right: 0
  top: 34px

  .hamburger-box
    width: 34px

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after
      width: 34px
      background-color: #fff
      border-radius: 0
      height: 2px

.mm-navbar
  height: auto

  .mm-navbar__title
    padding: 0

    img
      width: 128px
      height: auto
      margin: 35px 0 35px

.mm-menu .mm-listitem_selected > .mm-listitem__text
  color: $accent
  background-color: transparent

.mm-listview
  > li
    > a
      transition: color .25s ease
      padding:
        left: 14%
        top: 5%
        bottom: 5%

      &:hover
        color: $accent

      &::before
        content: "\f219"
        font-family: fontawesome, fantasy
        margin:
          right: 8px
        font-size: 12px
//&.active
//  &>a
//    color: $accent

.header-flex
  display: flex
  height: 100%
  position: relative
  top: 0

.flex-center
  margin: auto

.header-composition
  text-align: center
  position: relative

  p
    margin-top: 40px

  .button
    margin-top: 25px

.welcome
  p
    text-transform: uppercase
    font-size: 14px
    display: flex
    align-items: center
    white-space: nowrap
    margin: 0
    margin-bottom: -10px

    &::before, &::after
      content: ""
      height: 1px
      width: 100%
      background-color: #FFFFFF
      display: inline-block

    span
      margin: 0 10px

  .h1
    font-weight: 100
    font-size: 67px
    margin: 0
    //letter-spacing: 1px
    line-height: 1.6
    white-space: nowrap
    border-bottom: 1px solid #FFFFFF

.h1 ~ span
  display: block
  margin-top: 25px
  text-transform: uppercase

  .fa
    margin-right: 10px
    font-size: 12px
    color: #555555

    &:last-child
      margin-left: 10px
      margin-right: 0

.header-social
  position: absolute
  display: flex
  height: 100%
  right: 0
  top: 0
  border-left: 1px solid rgba(255, 255, 255, .1)
  padding: 0 13px

.soc
  margin: auto
  ul
    list-style: none
    padding: 0
    li
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
      a
        color: #2c2c2c
        font-size: 17px
        display: block
        background-color: rgba(255,255,255,.2)
        width: 38px
        height: 38px
        border-radius: 50%
        text-align: center
        line-height: 38px
        transition: background-color .25s ease
        &:hover
          background-color: rgba(255,255,255,.4)
.header-contacts
  position: absolute
  left: 0
  bottom: 0
  margin: auto
  border-top: 1px solid rgba(#fff, .15)
  width: 100%
  padding: 13px 0
  background-color: rgba(#151515, 0.15)
  .fa
    color: #555
    padding-right: 5px
  //.phone-h
  //  font-family: firasans, sans-serif
  .container .row div[class^='col-md-']:nth-child(2)
    text-align: center
    span
      font-family: firasans, sans-serif


$colors: $blue, $red, $accent
@for $i from 1 through length($colors)
  .carousel-service .owl-item:nth-child(#{length($colors)}n+#{$i})
    background-color: nth($colors, $i)


.carousel-service
  background-color: $dark

  &-item
    color: #ffffff
    font-size: 18px
    font-weight: 300
    position: relative
    display: flex
    flex-direction: column-reverse

    &:hover
      .carousel-service-image
        opacity: 1
    .carousel-logo
      text-align: center
      img
        width: 100px
        height: auto
        display: inline-block

  .owl-item
    &:nth-child(2n+2)
      .carousel-service-item
        flex-direction: column

  &-image
    background-size: cover
    background-position: center
    opacity: .8
    transition: opacity .5s


  &-content
    position: relative
    padding: 60px 10%

  &-composition
    text-align: center
    width: 100%
    .h3
      font-weight: 800
      font-size: 28px
      margin-top: 5px
      margin-bottom: 20px
      span
        font-weight: 300
        display: block
        font-size: 18px
  &-list
      list-style: none
      margin: 0
      padding: 0
      margin-bottom: 25px
      li
        border-bottom: 1px solid rgba(#000, .12)
        padding: 9px
        &:last-child
          border: none
        strong
          font-family: firasans, sans-serif
          color: #4a4a4a
        .fa
          font-size: 14px

  .owl-nav
    position: absolute
    width: 100%
    top: 0
    button.owl-prev,
    button.owl-next
      position: absolute
      width: 64px
      height: 64px
      line-height: 64px
      background-color: #ffffff
      color: $dark
      font-size: 26px
      text-align: center
    button.owl-next
      right: 0


.owl-carousel
  .owl-item
    backface-visibility: inherit

.s
  &-king, &-review, &-partners
    padding: 5% 0
  &-king
    p
      margin: 30px 0
      font-size: 18px
  &-call
    background-size: contain
    background-repeat: no-repeat
    background-position: 15%
    &::before
      content: ''
      position: absolute
      width: 50%
      right: 0
      height: 100%
      background-color: rgba($accent, .92)



.section-overlay
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $overlay
    opacity: 0.92

.fotorama
  background-color: rgba($dark, .4)
  &__nav
    &-wrap
      position: absolute
      bottom: 15px
      left: 0
      padding: 0 30px
      width: 100%
  &__thumb
    border: 4px solid #ffffff
    transition: border-color 0.5s ease
    &-border
      border-color: #3d3c3c
  &__active
    .fotorama__thumb
      border-color: #3d3c3c
  &__video-close
    display: none
  &__arr
    &--next, &--prev
      &::before
        font-family: fontawesome, sans-serif
        font-size: 32px
    &--next
      &::before
        content: '\f105'
    &--prev
      &::before
        content: '\f104'
        margin-left: 15px

input, textarea, select, .selectize-control.single .selectize-input, .selectize-control.single .selectize-input.input-active
  background-color: transparent
  border: 1px solid rgba(#000, 0.1)
  border-bottom: 2px solid rgba(#000, .1)
  border-radius: 2px
  width: 100%
  padding: 8px 20px
  outline: none
  display: inline-block
  color: #333


select, .selectize-control.single .selectize-input, .selectize-control.single .selectize-input.input-active
  padding: 10px 22px

.selectize-control.single .selectize-input
  background-image: none
  box-shadow: none

.selectize-dropdown, .selectize-input, .selectize-input input
  font-size: inherit
  overflow: inherit
  line-height: inherit
.selectize-input
  &.dropdown-active::before
    background-color: transparent

.selectize-dropdown
  background-color: rgba($accent, .95)
  color: inherit
  &.single
    border: none
    box-shadow: none
    border-width: initial
    border-color: transparent
    border-image: none
  .active
    background-color: darken($accent, 20)
    color: inherit

.success
  display: none
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  text-transform: uppercase
  font-weight: bold
  z-index: 10
  span
    margin: auto
  & ~ *
    transition: all .5s ease
  &.active
    & ~ *
      opacity: .5
      filter: blur(10px)


.callback
  padding: 25% 0
  position: relative

  &-logo
    img
      width: 100px
      height: auto
  .formhead
    margin-top: 0
    color: #fff
  p
    margin-top: 2%

  input, textarea, select, .selectize-control.single .selectize-input, .selectize-control.single .selectize-input.input-active
    color: #ffffff
    width: 100%
    margin-top: 5%
    &::-webkit-input-placeholder
      color: white
      opacity: 1
    &::-moz-placeholder
      color: white
      opacity: 1
    &::-ms-input-placeholder
      color: white

    option
      color: #333333

  .button
      margin-top: 40px


.selectize-control
  &.single
    .selectize-input
      &::after
        content: '\f107'
        border: none
        font-family: fontawesome, sans-serif
        position: absolute
        right: 25px
        top: 12px
      &.dropdown-active::after
        content: '\f106'



@import "media"